# Connect to SQL DB

In [2]:
import pandas as pd
import sqlite3

In [5]:
# After running "flask run", the db should be created
ls '../instance'

database.db

In [4]:
dbfile = '../instance/database.db'

In [6]:
con = sqlite3.connect(dbfile)

# Accessing Data from Note Table

In [7]:
cur = con.cursor()
cur.execute("SELECT * FROM Note")
note_data = cur.fetchall()
cur.close()

In [24]:
note_df = pd.DataFrame(data=note_data, columns=['note_id','note','datetime','user_id'])
note_df

   note_id                                 note             datetime  user_id
0        1  [2022-05-21] Note1: At starbucks xd  2022-05-21 22:38:40        1
1        3                      hi hi hi hi\r\n  2022-06-05 19:37:20        1
2        4                     testing my notes  2022-06-05 19:37:23        1
3        5     [2022-06-05] accessing database!  2022-06-05 19:37:37        1
4        6            test_note second user\r\n  2022-06-05 19:40:30        2
5        7    [2022-06-27] Writing a note! Hi!   2022-06-28 02:13:10        1
6        8           Making notes as demo user!  2022-06-28 02:19:35        3
7        9                 ( ‚óë‚Äø‚óë)…î‚îèüçü--üçî‚îëŸ©(^‚ó°^ )  2022-06-28 02:20:57        3
8       12                  Hello! #MyFirstNote  2022-06-28 02:32:52        4

# Accessing Data from User Table

In [26]:
cur = con.cursor()
cur.execute("SELECT * FROM User")
user_data = cur.fetchall()
cur.close()

In [28]:
user_df = pd.DataFrame(data=user_data, columns=['user_id','email','password','username'])
user_df

,user_id,email,password,username
0,1,josephyoussouf@hotmail.com,sha256$lilOY0t8Ay75JvJP$426454ca25fcd89584077e...,Joseppy
1,2,test@test.com,sha256$Qu6WAkICGUPjxDd2$7d6f3aa507c29dd332f335...,testuser
2,3,demo@joseph.com,sha256$4zg3Ymfz9hbxF7Nt$a81891470b39d671fd0c15...,Joseppy
3,4,Rudy@hotmail.com,sha256$oYo6PvvnXrYPUfWy$f88996ae23e193a42333e1...,RudyCo